* {
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.question-container {
    background-color: grey;
    width: 80%;
}

#text {
padding: 1rem;
color: black;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    padding: 1rem;
}